{% extends "base.html" %}

{% block style %}
    <link rel="stylesheet/less" type="text/css" href="/static/styles/info.less"/>
{% endblock style %}

{% block content %}
    <div class="mainInfo">
        {% if request.session.role == 'student' %}
            <div class="protect-date">
                <div class="protect-info">Дата захисту:</div>
                <div class="protect-value">
                    {% if not protection %}
                        {% if message %}
                            {{ message }}
                        {% endif %}
                    {% endif %}
                    {% if protection %}
                        {{ protection.date_of_confirmation }}
                    {% endif %}
                </div>
            </div>
            <div class="pre-protect-date">
                <div class="pre-protect-info">Дата передзахисту:</div>
                <div class="pre-protect-value">
                    {% if not protection %}
                        {% if message %}
                            {{ message }}
                        {% endif %}
                    {% endif %}
                    {% if protection %}
                        {{ protection.date_of_pre_protection }}
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% if request.session.role == 'teacher' %}
            <table border="1">
                <tr>
                    <td>Спеціальності</td>
                    <td>Дата передзахисту</td>
                    <td>Дата захисту</td>
                </tr>
                {% for pr in protect_spec %}
                    <tr>
                        {% for p in pr %}
                            <td>{{ p }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
        {% if request.session.role == 'methodist' %}
            <div>Ваша кафедра: {{ cathedra }}</div><br>
            <form class="protection-container">
                <div> Спеціальність:</div>
                <br>
                <select class="specialty" name="specialty" required="required">
                    <option value="anything">---</option>
                    {% for sp in specialties %}
                        <option value="{{ sp.id }}">{{ sp.specialty_name }}</option>
                    {% endfor %}
                </select><br><br>
                <input type="number" min="2010" max="2019" name="year">
                <div>Дата захисту:</div>
                <br>
                <input type="datetime-local" name="protection" required="required"><br><br>
                <div>Дата передзахисту:</div>
                <br>
                <input type="datetime-local" name="preprotection" required="required"><br><br>
                <button formmethod="get">Додати</button>
            </form>
        {% endif %}
    </div>

{% endblock content %}